agm-map {
    height: 90vh;
}
.map{
    position: fixed;
    top:20;
    bottom:20;
    left:0;
    right:0;
    z-index:-1;
}
.control_bar_container{
    position: absolute;
    left:2em;
    bottom:4em;
}
.rider{
    font-weight: bold;
}
.button{
    position: relative;
    margin-top: 15px;
    margin-left: 180px;
}

.submit-container{
    position: absolute;
    right:2em;
    bottom:3em;
    z-index: 100;
    float: right;
}

.window-text{
    color: black;
    font-size: 2em
}

.window-div{
    text-align: center;
}
