<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Frequent free time segment
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-expansion-panel [expanded]="step === 1" (opened)="step = 1">
        <mat-expansion-panel-header>
          Add
        </mat-expansion-panel-header>
        <div class="title">
          <mat-form-field>
            <mat-select placeholder="starting time" [(ngModel)]="selectedStart" name="time">
              <mat-option *ngFor="let time of times" [value]="time.viewValue">
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="end time" [(ngModel)]="selectedEnd">
              <mat-option *ngFor="let time of times | slice: selectedStart:24; let i = index;" [value]="time.viewValue">
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="save">
          <button mat-button (click)="add()"> Save </button>
        </div>
      </mat-expansion-panel>
    </div>
    <div>
      <p>
      <mat-chip-list>
          <mat-chip *ngFor="let time of start_end" [removable]="removable" (removed)="remove(time)">
            {{time.start}}-{{time.end}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
      </mat-chip-list>
      </p>
    </div>
  </mat-expansion-panel>        
  <mat-divider></mat-divider>
</mat-accordion>


<mat-action-list>
  <mat-list-item class="title" disableRipple>  
      notification
    <div class="slide_container">
      <mat-slide-toggle
        class="slide_toggle">
      </mat-slide-toggle>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="title" mat-button (click)="logout()"> 
    log out 
  </mat-list-item>
</mat-action-list>

