<ng-container>
  <mat-toolbar>
    <button mat-button (click)="onToggle()" id="nav-button" *ngIf="currentUser"><mat-icon>list</mat-icon></button>
    <span style="margin-left: 8px">TOVO&nbsp;&nbsp;</span> <span style="font-size: 80%">{{title}}</span>
    <span style="flex: auto"></span>
    <button mat-mini-fab (click)="true" *ngIf="currentUser">{{currentUser.name[0].toUpperCase()}}</button>
  </mat-toolbar>
  <mat-sidenav-container class="app-container" *ngIf="true">
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links" (click)="onToggle(link.text)" [routerLink]="link.path">
          <p matLine >{{ link.text }}&nbsp;&nbsp;</p><mat-icon>directions_bike</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet (activate)="outletActivate()"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>