<div class="content">
  <div class="container"> 
    <p><mat-icon class="build">build</mat-icon>{{gear}}
      <button mat-raised-button class="button_flower"><mat-icon class="flower_small">local_florist</mat-icon>3</button>
    </p>
    <p><mat-icon class="flower">local_florist</mat-icon>{{rose}}
      <button mat-raised-button class="button_build"><mat-icon class="build_small">build</mat-icon>5</button>
    </p>
  </div>
    <br>
    <div class="container">
    <button mat-raised-button class="send"><mat-icon class="nearme">near_me</mat-icon>Send</button>
    <button mat-raised-button class="receive"><mat-icon class="gift">card_giftcard</mat-icon>Receive</button>
    </div>
  
  </div>
  